@page "/EstadosProcesoRevision/{Id}"




    <MudText Typo="Typo.h3" GutterBottom="true">Estados Proceso </MudText>
    <MudText Class="mb-12">Observaciones encontradas: @Id! </MudText>
    <MudItem xs="12" sm="12" md="12" Class="d-flex  flex-column  align-center" >
    <MudGrid>
        <MudSimpleTable >
            <thead>
                <tr>
                    <th>No. </th>
                    <th>observacion </th>
                    <th>descripcion </th>
                    <th>Estado </th>
                    <th>Procedimiento </th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                    <td>@proceso.numProceso</td>
                    <td>@proceso.descripcion</td>
                    <td>@proceso.Estado</td>
                    <td>@proceso.Observaciones</td>
                    </tr>   
            </tbody>
        </MudSimpleTable>
    </MudGrid>
    </MudItem>
</MudCardContent>

    ProcesoCompra proceso = new ProcesoCompra();


}
