@page "/"



<PageTitle>Procesos Activos</PageTitle>

<MudText Typo="Typo.h3" GutterBottom="true">Procesos Activos</MudText>
<MudText Class="mb-8">Tus procesos son:</MudText>

@if (todoItems == null)
{
    <p>No Todo Items found.</p>
}
else
{
    <ul>
        @foreach (var item in todoItems)
        {
            <li>@item.numProceso</li>
            <li>@item.cpc</li>
            <li>@item.Planta</li>
        }
    </ul>
}

@code {

    private List<ProcesoCompra>? todoItems = new();

    protected override async Task OnInitializedAsync() => 
        todoItems = await Http.GetFromJsonAsync<List<ProcesoCompra>>("https://localhost:7167/api/ProcesoCompra");

    //     protected async Task GetAmbulanciasAsync()
    //{
    //    await apiService.SetAuthHeaders();
    //    var response = await apiService.HttpClient.GetAsync("ambulancias?ToRegister=true");
    //    try
    //    {
    //        response.EnsureSuccessStatusCode();
    //        ambulancias = await response.Content.ReadFromJsonAsync<List<ProcesoCompra>>(EncodingHelper.WithReferences());
    //    }
    //    catch (HttpRequestException)
    //    {

    //    }
    //}


}
}
