@page "/"



<PageTitle>Procesos Activos</PageTitle>

<MudText Typo="Typo.h3" GutterBottom="true">Procesos Activos</MudText>
<MudText Class="mb-8">Tus procesos son:</MudText>

@if (Procesos == null)
{
    <p>No Todo Items found.</p>
}
else
{
    <ul>
        @foreach (var item in Procesos)
        {
            <li>@item.Planta</li>
        }
    </ul>
}

@code {
    private ProcesoCompra[]? Procesos;

    protected override async Task OnInitializedAsync() =>
        Procesos = await Http.GetFromJsonAsync<ProcesoCompra[]>("Api/ProcesoCompra");
}
